.cardContainer {
	padding: 16px 0;
}
.card {
	display: grid;
	grid-template-columns: 1.5fr 3fr 1fr;
	gap: 24px;
}
.imageContainer {
	width: 260px;
	height: 180px;
	border-radius: 4px;
	overflow: hidden;
}
.imageNotLoaded{
    display: grid;
    place-content: center;
}
.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.itemModel {
	font-size: 1.25rem;
	font-weight: 300;
}
.itemPrice {
	text-align: end;
}
.itemCharacteristics{
  margin-top: 12px;

}
.characteristicsField{
    font-weight: 300;
    span{
        font-weight: 500;
    }
}